body {
    display: flex;
    flex-direction: column;
}

.items {
    display: grid;
    grid: repeat(3, 1fr) / repeat(3, 1fr);
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    float: left;
    padding: 20px;
    list-style-type: none;
}

img{
    width: 100%;
}

input[type="number"]{
    padding: 10px;
}

input.error {
    border: 2px solid red;
}

.error-message {
    color: red;
    font-size: 0.8rem;
    margin: 5px 0;
}