body {
    display: flex;
    flex-direction: column;
}

.items {
    display: grid;
    grid: repeat(3, 1fr) / repeat(3, 1fr);
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    float: left;
    padding: 20px;
    list-style-type: none;
}

img{
    width: 100%;
}
